/*  ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: kanit;
}

body{
    background-color: #1a1a1a;
    height: 100vh;

}

html{
    scroll-behavior: smooth;
}

.interface{
    max-width: 1280px;
}

.flex{
    display: flex;
}

.dsc-contato button{
    padding: 10px 40px;
    font-size: 17px;
    font-weight: 450;
    letter-spacing: 0.5px;
    color: #e9e5d4;
    background-color: #d0292b;
    border: 0px;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.dsc-contato button:hover{
    transform: scale(1.05);
}

h2.titulow{
    color: #1a1a1a;
    font-size: 2rem;
    letter-spacing: 1px;
}

h2.titulow span{
    color: #842ccd;
    letter-spacing: 1px;
}

h2.titulob{
    color: #e9e9e9;
    font-size: 2rem;
    letter-spacing: 1px;
}

h2.titulob span{
    color: #d0292b;
    letter-spacing: 1px;
}

h3{
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
}

p{
    font-size: 1rem;
    font-weight: 350;
    letter-spacing: 1px;
}

button:hover{
    transform: scale(1.05);
    transition: .2s;
}

/* ESTILO CABEÇALHO */

header{
    width: 100%;
    padding: 40px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
}

header.rolagem{
    background-color: #1a1a1a;
    padding: 20px 4%;
}

header .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header .logo img{
    max-width: 70px;
}

header a{
    color: #6b6b6b;
    text-decoration: none;
    font-weight: 300;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover{
    color: #e9e5d4;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav.menu-desktop  ul li{
    display: inline-block;
    padding: 0 40px;
}

.overlay-menu{
    background-color: #2e2e2ead;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 88888;
    display: none;
}

/* ESTILO DO TOPO */

section.topo-do-site{
    padding: 40px 4%;
    height: 96vh;
    background-image: url(images/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topo-do-site .interface{
    margin-top: 10%;
}

.topo-do-site .interface .flex a{
    margin-top: 50px;
}
.topo-do-site .interface .flex i{
    font-size: 2.3rem;
}

.topo-do-site h1{
    color: #e9e5d4;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 3px;
}

.btn-prox{
    display: flex;
    justify-content: center; /* eixo x */
    align-items: center; /* eixo y */
    font-size: 45px;
    color: #d0292b;
    padding-top: 30px;
}

.btn-prox:hover{
    transform: scale(1.05);
    transition: .2s;
}

/* ESTILO PROJETOS DESTAQUE*/

.destaques{
    padding: 70px 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9e5d4;
}

.destaques h2{
    padding-bottom: 30px;

}

.content{
    height: 450px;
    width: 860px;
    border-radius: 20px;
    overflow: hidden;
}

.content .slide img{
    height: 100%;
    width: 100%;
}

.navigation{
    display: flex;
}

.bar{
    width: 15px;
    height: 15px;
    border: 2px solid #842ccd;
    margin: 6px;
    margin-top: 30px;
    border-radius: 15px;
    cursor: pointer;
    transition: .5s ease;
}

.bar:hover{
    background-color: #842ccd;
}

input{
    display: none;
}

.slides{
    display: flex;
    width: 300%;
    height: 100%;
}

.slide{
    width: 34%;
    transition: .5s;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -34%;
}

#slide3:checked ~ .s1 {
    margin-left: -68%;
}

/* ESTILO SOBRE */

section.sobre{
    padding: 70px 4%;
}

.sobre .img-sobre img{
    max-width: 400px;
    border-radius: 30px;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #e9e5d4;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.sobre .txt-sobre h2{
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0px;
    text-align: justify;
}

.dsc-social button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 0;
    background-color: #d0292b;
    font-size: 25px;
    cursor: pointer;
    margin: 0px 5px;
}

.dsc-social{
    padding-top: 25px;
}

/* ESTILO ESPECIALIDADES */

section.especialidades{
    padding: 70px 4%;
    background-color: #e9e5d4;

}

section.especialidades .flex{
    gap: 60px;
}

.especialidades h2{
    text-align: center;
}

.especialidades .especialidades-box{
    color: #1a1a1a;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    border: 1px solid #842ccd;
    box-shadow: 0 0 10px #842ccd;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #842ccd;
}

.especialidades .especialidades-box h3{
    margin: 15px 0px;
}

/* ESTILO PORTFOLIO */

section.portfolio{
    padding: 70px 4%;
    background-color: #1a1a1a;
}

section.portfolio .flex{
    gap: 15px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 60px;
}

.portfolio h2{
    color: #e9e5d4;
    text-align: center;
}

.portfolio-box{
    width: 55vh;
}

.portfolio .portfolio-box{
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
}

.portfolio-box h3{
    margin: 15px 0px;
}

.portfolio-box h3, .portfolio-box p{
    color: #e9e5d4;
}

.portfolio .portfolio-box img{
    border: 3px solid #d0292b;
    width: 50vh;
    height: 65vh;
    border-radius: 20px;
}

.portfolio-box button{
    display: inline-flex;
    align-items: center;
    margin: 5% 0 1% 0;
    padding: 10px 20px;
    font-size: 2.1vh;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #e9e5d4;
    background-color: #d0292b;
    border: 0px;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.portfolio-box i{
    padding-left: 10px;
    font-size: 2.1vh;
}

.flex .portfolio-box{
    background-color: #2c2c2c;
    padding: 20px;
    margin-top: 45px;
    border-radius: 20px;
}

/* ESTILO CONTATO*/

section.contato{
    padding: 70px 4%;
    background-color: #e9e9e9;
    text-align: center;
}

.contato h2{
    line-height: 40px;
    margin-bottom: 30px;
}

.contato p{
    color: #1a1a1a;

}

/* ESTILO BOTAO TOPO */

.btn-top{
  display: flex;
  justify-content: center; /* eixo x */
  align-items: center; /* eixo y */
  font-size: 45px;
  color: #d0292b;
  position: fixed;
  right: 20px;
  bottom: 20px;
  scroll-behavior: smooth;
  
}

/* ESTILO RODAPÉ */

footer{
    padding: 60px 4%;
}

footer .logo img{
    padding-top: 20px;
    max-width: 70px;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #d0292b;
}

footer .line-footer p i{
    color: #d0292b;
    font-size: 22px;
}

footer .line-footer p a{
    color: #e9e5d4;
}

.dsc-social-bt button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 0;
    background-color: #d0292b;
    font-size: 25px;
    cursor: pointer;
    margin: 0px 5px;
}

@media all and (min-width:876px){

 .menu-mobile, .dsc-abrir-menu{
    display: none;
    position: absolute;
 }
}

@media all and (max-width: 875px){

 .flex{
    display: block;
 }
  
 .menu-desktop ul{
    display: none;
 }
  
 .dsc-contato{
    display: none;
 }
  
  /* ESTILO MENU MOBILE */

 .dsc-abrir-menu i{
    color: #d0292b;
    font-size: 40px;
 }

 .menu-mobile{
    background-color: #2e2e2e;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
 }

 .menu-mobile.abrir-menu{
    width: 70%;
 }

 .menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
 }

 .menu-mobile .dsc-fechar{
    padding: 20px 5%;
 }

 .menu-mobile .dsc-fechar i{
    color: #d0292b;
    font-size: 40px;
 }

 .menu-mobile nav ul{
    text-align: right;
 }

 .menu-mobile nav ul li a{
    color: #e9e5d4;
    font-size: 20px;
    font-weight: 200;
    padding: 20px 5%;
    display: block;
 }

 .menu-mobile nav ul li a:hover{
    background-color: #464646;
 }

 /* DESTAQUES */

  /* SOBRE */
  
 .sobre .img-sobre img{
    max-width: 300px;
    border-radius: 30px;
  }

 .sobre .img-sobre{
    padding: 40px;
    display: flex;
    justify-content: center;
  }
  
 .sobre .txt-sobre h2{
    line-height: 40px;
    margin-bottom: 30px;
    text-align: center;
 }

 .sobre .txt-sobre h2 span{
    display: inline;
  }
  
 .dsc-social{
    text-align: center;
 }

 /* PORTFOLIO */

 section.portfolio .flex{
    gap: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
  
  /* RODAPÉ */

  footer .logo img{
    padding-top: 20px;
    max-width: 70px;
  }
  
  footer .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}